.container {
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 57%;
  border-radius: 10px;
  background-color: #dae7dc;
  border-right: 1px solid #b5c7b8;
  border-bottom: 1px solid #b5c7b8;
  box-shadow: 8px 8px 0 0 #678b78;
}

.icon {
  display: block;
  width: 15%;
  margin-right: 20px;
  margin-left: 20px;
}

.link {
  font: 20px/20px Georgia, arial, helvetica, sans-serif;
  color: #000;
  text-decoration: none;
}

.text {
  
}

.picture {
  
}
